streamlit
flask
flask-socketio
flask-login
flask-migrate
flask-sqlalchemy
flask-limiter
flask-wtf
djangorestframework
djangorestframework-simplejwt
django
psycopg2-binary
sqlalchemy
numpy
pandas
pillow
scikit-learn
scipy
matplotlib
nltk
textblob
vadersentiment
python-dotenv
requests
pyjwt
werkzeug
python-dateutil
pytz
wtforms
simple-websocket
python-engineio
python-socketio
